{% extends "base.html.twig" %}

{% block title %}LibraryBundle:Consulting:book{% endblock %}

{% block body %}
<h1>Welcome to the Consulting:book page</h1>
{{book.id}}
    {{book.titre}}
    {{book.auteur}}
{% endblock %}
